<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-center">Sign up</h2>
      </div>

      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="form-group">
              <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.input :password, required: true, input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control' } %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>
        <br/>
          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>