.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1.text-center Edit Pin

      .panel-body
        %strong.center Current Image
        %br/
        = image_tag @pin.image.url(:medium)
        %br/
        = render 'form'
        %br/
        = link_to "Cancel", pin_path
  