#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @pin.image.url(:medium)
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
      .panel-footer
        .row
          .col-md-6
            %p.user
            Submitted by 
            = @pin.user.email
          .col-md-6
            .btn-group.pull-right
              = link_to upvote_pin_path(@pin), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-chevron-up
                  - if user_signed_in?
                    = @pin.get_upvotes.size
                  - else
                    -# demo for dummy data
                    = rand(10..50)
              = link_to downvote_pin_path(@pin), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-chevron-down
                  - if user_signed_in?
                    = @pin.get_downvotes.size
                  - else
                    -# demo for dummy data
                    = rand(10..50)
              - if user_signed_in?
                -# demo for dummy data
                -if @pin.user.email == current_user.email
                  = link_to "edit", edit_pin_path, class: "btn btn-default"
                  = link_to "delete", pin_path, method: :delete, data: { confirm: "R U Sure?" }, class: "btn btn-default"