<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-center">Sign in</h2>
      </div>

      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <div class="form-group">
              <%= f.input :email, required: false, autofocus: true, input_html: { class: 'form-control' } %>
            </div>
            
            <div class="form-group">
              <%= f.input :password, required: false, input_html: { class: 'form-control' } %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me, as: :boolean  %> <%= f.label :remember_me %>
              </div>
            <% end -%>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>